:root {
  --right-panel-width: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* controls */
.controls {
  width: var(--right-panel-width);
  top: 0;
  right: var(--right-panel-width);
  bottom: 0;
  position: absolute;
  border-right: 1px solid black;

  background-color: grey;
}

.controls .ctrl {
  padding: .5rem .5rem 0;
  font-size: 1.5rem;
}

.controls .ctrl select,
.controls .ctrl input {
  width: 100%;
  font-size: 1.5rem;
  padding: .5rem;
}

/* asset-picker */
.asset-picker {
  --height: 125px;

  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: var(--right-panel-width);

  overflow-y: auto;
  overflow-x: hidden;

  background-color: steelblue;
  font-size: 1rem;
}

.asset-picker .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.asset-picker .container .wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;

  padding: 0.25rem;
  min-height: var(--height);
  border-bottom: 1px solid black;
}

.asset-picker .container .wrap.active,
.asset-picker .container .wrap:hover {
  background-color: cadetblue;
}

.asset-picker .container .wrap .asset {
  object-fit: scale-down;
  max-height: var(--height);
  max-width: var(--height);
}

/* .asset-picker .container .wrap .description {} */