.movement-container {
  margin-top: .25rem;
}

.movement-container label {
  margin: 0;
  padding: .25rem 0;
}

/* TODO change styling */
.movement-container label.current {
  font-weight: bold;
  /* border-left: 4px solid var(--colors-gray400); */
}

.movement-container input {
  height: 1rem;
  max-width: 3.5rem;
  text-align: right;
}

.movement-plot {
  /* FIXME .25rem should be a bar at :root */
  margin-top: .25rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--colors-gray600);
  /* TODO */
  cursor: crosshair;
}

.movement-plot .grid line {
  stroke-width: 1;
  stroke: var(--colors-gray200);
}

.movement-plot circle {
  fill: var(--colors-gray600);
  cursor: move;
  /* cursor: grab; */
}

.movement-plot circle.current {
  fill: var(--colors-gray800);
  /* cursor: grabbing; */
}

.movement-plot path {
  fill: none;
  stroke: var(--colors-gray900);
  stroke-width: .5;
}

.movement-plot path.main {
  stroke-dasharray: 5;
  /* TODO change animation speed given the movement velocity */
  animation: dash 1s linear forwards infinite;
}

.movement-plot path.handle {
  stroke: var(--colors-gray700);
}

@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}