.movement-container label {
  margin: 0;
  padding: .25rem 0;
}

/* TODO change styling */
.movement-container label.current {
  font-weight: bold;
  /* border-left: 4px solid var(--colors-gray400); */
}

.movement-container input {
  height: 1rem;
  max-width: 3.5rem;
  text-align: right;
}

.movement-container .toggle {
  margin-top: var(--default-inbetween);
}

.movement-container .slider.horizontal {
  margin-left: calc(var(--default-inbetween) + var(--size));
}

.movement-container .plot-container {
  display: flex;
  gap: var(--default-inbetween);
  margin-top: var(--default-inbetween);
}

.movement-container .plot {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--colors-gray600);
  cursor: crosshair;
}

.movement-container .plot .grid line {
  stroke-width: 1;
  stroke: var(--colors-gray200);
}

.movement-container .plot circle {
  fill: var(--colors-gray600);
  cursor: move;
}

.movement-container .plot circle.current {
  fill: var(--colors-gray800);
}

.movement-container .plot path {
  fill: none;
  stroke: var(--colors-gray900);
  stroke-width: .5;
}

.movement-container .plot path.main {
  stroke-dasharray: 5;
  /* TODO change animation speed given the movement velocity */
  animation: dash 1s linear forwards infinite;
}

.movement-container .plot path.handle {
  stroke: var(--colors-gray700);
}

@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}