.movement-container {
  margin-top: .25rem;
}

.movement-container label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: .25rem;
}

.movement-container label.current {
  border-left: 4px solid var(--colors-gray400);
}

.movement-container input {
  height: 1rem;
  max-width: 3.5rem;
  text-align: right;
}

.movement {
  /* FIXME .25rem should be a bar at :root */
  margin-top: .25rem;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--colors-gray600);
  cursor: crosshair;
}

.movement .grid line {
  stroke-width: 1;
  stroke: var(--colors-gray200);
}

.movement .label {
  font-size: 9px;
  color: var(--colors-gray800);
}

.movement circle {
  fill: var(--colors-gray600);
  cursor: move;
  /* cursor: grab; */
}

.movement circle.current {
  fill: var(--colors-gray800);
  /* cursor: grabbing; */
}

.movement path {
  fill: none;
  stroke: var(--colors-gray900);
  stroke-width: .5;
}

.movement path.main {
  stroke-dasharray: 5;
  /* TODO change animation speed given the movement velocity */
  animation: dash 1s linear forwards infinite;
}

.movement path.handle {
  stroke: var(--colors-gray700);
}

@keyframes dash {
  from {
    stroke-dashoffset: 20;
  }

  to {
    stroke-dashoffset: 0;
  }
}