.radio {
  display: flex;
  justify-content: space-evenly;
  border-radius: var(--default-boder-radius);
}

.radio .item {
  border-radius: 0;
}

.radio .item.active {
  background-color: var(--colors-gray400);
}