.menu {
  /* display: none; */
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fade-in 2s;

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.menu p {
  text-align: center;
}

.menu .main-text {
  font-size: 6rem;
  animation: text-glow 2s infinite;
  /* animation-timing-function: ; */
}

.menu .hint-text {
  font-size: 1.5rem;
  line-height: 1.2;
}

.menu .hint-text:first-child {
  margin-top: 0.5rem;
}

#pause-menu {
  inset: 0;
  transform: none;
}

#pause-menu .hint-text,
#pause-menu .main-text {
  position: absolute;
  right: 1rem;
  text-align: right;
}

#pause-menu .hint-text {
  font-size: 1rem;
  top: 1.5rem;
  line-height: 1.1;
  margin-top: 0;
}

#pause-menu .main-text {
  font-size: 4rem;
  bottom: 0.5rem;
}

#controls-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  left: 0.5rem;
  bottom: 0;
  animation: 1s fade-in;
  z-index: 3;
}

#controls-info img {
  height: 3rem;
  margin: -0.25rem;
}

#controls-info kbd {
  margin-left: 0.5rem;
  padding: 0.15rem 0.35rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: sans-serif; */
  font-weight: bold;
  background-color: white;
  color: #242424;
  border: 2px solid #b4b4b4;
  border-radius: 1.5px;
  display: inline-block;
  white-space: nowrap;
}

#controls-info kbd:last-child {
  margin-right: 2rem;
}