.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 1.5px;
  cursor: default;
}

.checkbox svg {
  color: var(--default-color);
  display: none;
}

.checkbox[data-checked=true] svg {
  display: block;
}