@font-face {
  font-family: orbitron;
  src: url('/font/orbitron.woff2') format('woff2'), url('/font/orbitron.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: orbitron, sans-serif;
}

body {
  cursor: crosshair;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

#main-menu {
  background-color: black;
}

.menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.125);
  position: absolute;
  inset: 0;
  z-index: 2;
  text-align: right;
  line-height: 1.1;
}

.menu .hint-text {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

.menu .main-text {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
  font-size: 4rem;
  animation: text-glow 1.5s infinite;
}

@keyframes text-glow {
  0% {
    text-shadow: 0 0 5px white;
  }

  50% {
    text-shadow: 0 0 0 white;
  }

  100% {
    text-shadow: 0 0 5px white;
  }
}
