:root {
  --color-a: #353535;
  --color-b: #666666;
  --color-c: #9b9b9b;
  --color-d: #d4d4d4;
  --color-e: #ffffff;
  --color-neon: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}

#root {
  /* TODO - use a image or a interactive background? */
  z-index: 1;
}
